# please create another file called .env in /server directory and add these credentials to setup the project. 

CORS_ORIGIN=http://localhost:5173

# for database setup, go to https://www.mongodb.com/cloud/atlas/register create new cluster and fill your credentials here: 
JWT_SECRET = "b7c9e0d68a4f1c93fb1a8f0e3cdd4a9d6780b70fc15390e9a4a771c"
MONGODB_URI = "mongodb+srv://jaydeeppatil3704:jaydeep3704@cluster0.jhc4dkj.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# cloudinary for media storage: go to https://cloudinary.com/ and setup your credentials:
CLOUDINARY_CLOUD_NAME="jaydeeppatil"
CLOUDINARY_API_KEY="282732215747132"
CLOUDINARY_API_SECRET="XrEmdEOKF29TFjI7M7j_IkmQ4MA"

# these were for otp signup. curently you don't need to write these:
# Activation_Secret = ""
# Password=""
# Gmail= ""

# for google login: 
# Go to https://console.cloud.google.com/ signup and create new project, complete all steps, and after generating credentials fill up credentials of your project:
GOOGLE_CLIENT_ID="354673602110-9cl5iu4b3broq1rkpa54dk172cflftpf.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
GOOGLE_REDIRECT_URI="http://localhost:3000/auth/google/callback"